<body style="position:relative;height:690px;">


  <div class="bg">
  <p Lorem ipsum class="txt"> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <!-- <form [formGroup]="profileForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card mat-elevation-z24">
          <mat-card-header>
              <mat-card-title>Login Form</mat-card-title>
          </mat-card-header>
          <mat-card-content>

              <div class="row">
                  <div class="col">
                      <mat-form-field class="full-width">
                          <input matInput placeholder="Email" formControlName="email">
                          <mat-error *ngIf="profileForm.controls['email'].hasError('required')">
                              Email is <strong>required</strong>
                          </mat-error>

                          <mat-error *ngIf="profileForm.get('email').hasError('pattern') && profileForm.get('email').touched">
                              Email address is <strong>  invalid</strong>
                          </mat-error>
                      </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <mat-form-field class="full-width">
                          <input matInput placeholder="Password" formControlName="password">
                          <mat-error *ngIf="profileForm.controls['password'].hasError('required')">
                              Password is <strong>required</strong>
                          </mat-error>
                          <mat-error *ngIf="profileForm.get('password').hasError('minlength') && profileForm.get('password').touched">
                              Password <strong> Minimum 6 characters</strong>
                          </mat-error>
                          <mat-error *ngIf="profileForm.get('password').hasError('maxlength') && profileForm.get('password').touched">
                              Password <strong>Maximum 12 characters</strong>
                          </mat-error>
                      </mat-form-field>
                  </div>
              </div>
          </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button class="bt" type="submit"  class="md-button" [disabled]="!profileForm.valid">Login</button>
          </mat-card-actions>
      </mat-card>
  </form> -->

    <!-- <p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.></p> -->
  <button type="button" class="btn" name="button">login</button>&nbsp;
  <button type="button" class="btn" name="button">register</button>
    <img src="../../assets/gallery-1490947843-img-4163.PNG" alt="avatar" style="position:relative;height:80%;max-width:80%;z-index:-1;">
  </div>


</body>
