<mat-toolbar style="background-color:black" >
  <mat-toolbar-row>
  <span style="position:absolute;align-text:center;color:white;left:60vh;" >Top Shine Expresss Car Wash</span>
  <span style="position:absolute;align-text:center;color:white;left:90vh;" >KG Mashabela</span>
     <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"  style="position:absolute;left:10vh;"(click)="login()">
  <mat-icon>power_settings_new</mat-icon>
    </button>	
    </mat-toolbar-row>
</mat-toolbar>
<div style="position:absolute;height:90vh;width:100vh;">


<img src="../../assets/download (2).jpg" alt="avatar" width="1340vh" height="640vh" style="position:absolute;z-index:-1;">
  <p Lorem ipsum class="txt"> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
 
    <!-- 
	 <img src="../../assets/download (2).jpg" alt="avatar" style="position:relative;height:80%;max-width:80%;z-index:-1;">

  <button type="button" class="btn" name="button">login</button>&nbsp;
  <button type="button" class="btn" name="button">register</button>
-->   



</div>
