.bg{
  /* background-color:grey; */
  position: relative;
  height: 100%;
}
.btn{
  position: absolute;
  top:200px;
  left: 120px;
  background-color: blue;
/* z-index: 0; */
}
.txt{
  position: absolute;
  top:200px;
  color: #ffffff;
  /* float: left; */
  /* z-index: -1; */
}
