<div class="one">
  <mat-card class="shipping-card mat-elevation-z24"  class="updateAdminForm">
      <mat-card-header>
          <mat-card-title>Update Admin Profile</mat-card-title>
      </mat-card-header>
      <mat-card-content>
<form [formGroup]="adminProfileForm"  novalidate (ngSubmit)="onSubmit()">
          <div class="row">
              <div class="col">

                <!-- <h4>Update Admin Profile</h4> -->
                <br>
                <mat-divider>
                  <b>  <p>Employee id</p> </b>
                </mat-divider>

                <mat-form-field>
                    <input matInput placeholder="Admin name" formControlName="name">

                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Admin email" formControlName="email">

                </mat-form-field>
                <br>
                <mat-form-field>
                    <input matInput placeholder="Admin number" type="number" formControlName="phone">

                </mat-form-field>
                <br>

                <br>


              </div>
          </div>

          </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button class="bt" type="submit"  class="md-button" [disabled]="!adminProfileForm.valid">Login</button>
      </mat-card-actions>
  </mat-card>

  </div>
