mat-grid-tile {
    background: lightblue;

  }
  mat-grid-list {
    width: 90%;
     /* position: relative; */
    margin-top: 40px;
    margin-left: 90px;
     /* align-content: right; */
     /* left: 80px; */
  }
  mat-tab-group {
    position: absolute;
    top: 2%;
    width: 95%;
    margin-top: 40px; 
    margin-left: 40px;
  }
